/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2016, 1:51:53 PM
    Author     : 985357
*/




h1{
    /*background-color:#999999 ;*/
     margin: auto;
    padding: auto;
    height: 60px;   
    
    color: #3E0404;
    background-color: #F7F0F0;
    font-size: 30pt;
}

#inputpart{
    background-color: #cccccc;
}



#result{
    background-color: #dcd8d8;
}

